html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
}

header, footer {
    background-color: #006ce4;
    height: fit-content;
}

footer a {
    color: white;
    font-size: 3rem;
    margin: 0.3em;
}

.logo span {
    color: #ffb700;
    margin: 0 5px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.nav-list a span {
    margin: 5px;
    font-size: 0.7em;
}

.nav-list a:hover {
    background-color: #003b95;
    border-radius: 60px;
    border: 1px solid white;
}

header ul, footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li, footer ul li {
    display: inline-block;
    margin-right: 15px;
}

header ul li:last-child, footer ul li:last-child {
    margin-right: 0;
}

.secondary-bg-color {
    background-color: #003b95;
}

.text-yellow {
    color: #ffb700;
}

#booking-details,
#booking-details-header {
    display: none;
}

#property-container {
    overflow-y: hidden;
    max-width: fit-content;
}

.card-body p {
    font-size: 0.8em;
}

.card-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-container:hover {
    cursor: pointer;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.selected {
    border: 2px solid #006ce4;
    border-radius: 0.5em;
}

.card-footer {
    margin-top: auto;
}


/* MEDIA QUERIES */
@media (max-width: 454px) {
    #property-counter {
        font-size: 1em;
    }
}

/* ANIMATIONS */
.appear {
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(40px);
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
}


